.notfound {
    display: flex;
    align-items: center;
    background-image: url(../../../public/assets/3814348.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 80%;
}