.table {
    display: inline;

    &_container {
        border: 1px, solid, red;
        padding: 10px;
        margin-bottom: 20px;
    }
}
.error {
    background-color: red;
}
.noValid {
    border: 2px solid red;
}
.btnSave {
    background-color: bisque;
}
.btnEdit, .btnDelete {
    background-color: blanchedalmond;
}