@import '../../style/vars';
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 10%;
    flex-shrink: 0;
    padding: 0 30px 0;
    background-color:$header-color;
}