@import '../../style/vars';
.header {
    position: fixed;
    top: 0px;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0;
    width: calc(100% - 60px);

    background-color: $header-color;
    font-size: large;

    &_logo {
        display: flex;
        align-items: center;

        // &_img {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
            // background-size: cover;
            // height: 300px;
            // overflow: hidden;
        //}
        // &_img img {
        //     height: 100%;
        //     width: auto;
        // }
    }

    &_nav {
        display: flex;

        &_menu {
            background-color: blue;
        }
    }
}
ul {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}