@import '../../style/vars';
.header {
    position: fixed;
    top: 0px;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0;
    width: calc(100% - 60px);

    background-color: $header-color;

    &_logo {
        display: flex;
        align-items: center;
    }

    &_nav {
        display: flex;

        &_menu {
            background-color: blue;
        }
    }
}
ul {
    list-style:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}