.table {
    display: flex;
    justify-content: center;
    //height: 100%;

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //height: inherit;
        margin-top: 80px;
    }

    &_header {
        display: flex;
        gap: 1rem;

        &_cell {
            display: flex;
            font-weight: bolder;
            padding: 5px;
        }
    }
}
